

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary-bg{
     background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 20px;
    border-radius: 5px;
    border: none;

}
.section-title{
   font-weight: bold;
   font-size: 35px;
   color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-alignment{
    text-align: center;
}

/* header */

.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* background-color: #FFF8F3; */
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    /* padding: 20px 0; */
}
.nav-title{
    font-weight: bold;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styles   */
.banner{
    display: flex;
    justify-content: space-between;
    gap: 30px; 
    margin: 0 38px 0 200px;
}
.banner-content{
    width: 580px;
}
.banner-greetings{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{

}
.banner-profile-pic{
    width: 584px;
}
/* main  */
main{
    /* max-width: 1140px;
    margin: 130px auto; */
    margin-top: 130px;
    margin-bottom: 130px;
    margin-right: 230px;
    margin-left: 230px;
}

/* about section */
.about{
    border-radius: 10px;
    /* margin: 130px  230px; */
    margin-top: 130px;
    padding: 130px 156px;
}
.about-title{
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
    /* padding: 30px 20px 0px; */
}

.item-description{
    font-weight: bold;
}
/* what i do section */
.what, .experience{
    padding: 0px 130px 50px;
}
.skills-container{
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    /* width: 256px;
    height: 377px;
   */
}

/* resume section */
.resume-head{
    font-weight: bold;
    font-size: 35px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    font-weight: bold;
    font-size: 30px;
    margin-left: 130px;
}
.experience-title{
    font-weight: bold;
    font-size: 25px;
}
.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description, .experience-subtitle{
    color: #757575;
}
.resume hr{
    margin: 30px 0px;
}
.resume-cv-download{
    margin-top: 50px;
}

/* footer */
footer{
    display: flex;
    padding: 130px 230px;
    gap: 100px;

}
footer input[type=text], input[type=email], textarea, input[type=submit]{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: white;
    display: block;
    padding: 20px 200px 20px 30px ;
    font-size: 20px;
    margin-bottom: 24px;

}

textarea{
    height: 180px;
}